<!-- / Footer Row -->
<tr>
  <td>
    <table bgcolor='#615e65' border='0' cellpadding='0' cellspacing='0' style="color: #525254; {{ page.typeset }}" width='100%'>
      <tr>
        <td>
          <table align='center' border='0' cellpadding='0' cellspacing='0' class='flex--content' style="color: #f3f4e9; {{ page.typeset }}" width='580'>
            <tr>
              <td height='15'></td>
            </tr>
            <tr>
              <td valign="top" width="50%">
                <a href='#' style='color: #f3f4e9;'>Unsubscribe</a>
              </td>
              <td valign="top" width="50%" style="text-align: right;">
                <span class='no-link'>
                  1234 Address Street
                  <br>
                  Cityname, ST 12345
                </span>
              </td>
            </tr>
            <tr>
              <td height='15'></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>