<style>
  @media only screen and (max-width: 600px){
      
      .flex--size {
        width: 100% !important;
      }
  
      .flex--content {
        margin: 0 auto !important;
        width: 92% !important;
      }
  
      .flex--content img {
        max-width: 100% !important;
      }
  
      .flex--stack {
        display: block !important;
        width: 100% !important;
      }
  
      .stacked-space {
        margin-top: 30px !important;
      }
  
      h1 {
        font-size: 32px !important;
      }
  
      h2 {
        font-size: 24px !important;
      }
  
      .button {
        font-size: 18px !important;
        line-height: 2.5 !important;
        width: 99% !important;
      }
  
      .button--thin {
        font-size: 14px !important;
        line-height: 2 !important;
        width: 99% !important;
      }
  
      .hero-title {
          width: 160px !important;
      }
  
      .hero-img {
          display: inline-block !important;
          width: 120px !important;
      }
  
      .hero-h1 {
        font-size: 36px !important;
        text-align: center !important;
        width: 280px !important;
      }
  
      .hero-span {
        font-size: 84px !important;
        text-align: center !important;
      }
  
      .hero-img {
        width: 50% !important;
      }
  
      .override--height {
        height: 0 !important;
      }
  
      .center {
        text-align: center !important;
      }
  
      .reduceSize--16 {
        font-size: 16px !important;
      }
  
      .reduceSize--14 {
        font-size: 14px !important;
      }
  
      .reduceImg--60 {
        width: 60px !important;
      }
  
      .no-link {
  
      }
  
  
  }
</style>